.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.App h1 {
  margin-bottom: 30px;
  background-color: rgb(236, 171, 227);
  padding: 20px;
  border-radius: 5px;
}
.App h1 span {
  letter-spacing: 9px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  background-color: aqua;
  margin: 10px 0;
  padding: 10px;   /*I added*/
}